<div class="container mt-3">

  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p> All <%= @flats.count %> flats </p>
    </div>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <div class="card-flat">
          <div class="flat-card-image" style="background-image: url('<%= flat.picture_url %>')">
          </div>
          <div class="card-content">
            <div class="card-title">
              <h4> <%= flat.name %> </h4>
            </div>
            <div class="card-address">
              <%= flat.address %>
            </div>
            <div class="flex">
              <div class="flex">
                <div class="flex" style="align-items: baseline">
                  <i class='fas fa-user-friends mr-2' style='font-size:16px;color:black'></i>
                  <%= flat.number_of_guests %>
                </div>
                <div class="flex ml-3">
                  <p>€ <%= flat.price_per_night %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-actions">
            <%= link_to "More info", flat_path(flat)  %> |
            <%= link_to "Edit", edit_flat_path(flat), class:"text-warning" %> |
            <%= link_to "Delete", flat_path(flat), method: :delete, data: {confirm: "Are you sure?"}, class:"text-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
